<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                I'd love to hear from you! I'm open to collaborations, especially on open source projects. 
            </p>
            <p class="paragraph-text justify-text">
                Please feel free to write to me for anything: <a href="mailto:{{ clarajeong@kaist.ac.kr }}">{{ clarajeong@kaist.ac.kr }}</a> (<a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc">PGP Key</a>). It might take me a day to get back, but rest assured, you'll hear from me.
            </p>
            <p class="paragraph-text justify-text">
                My CV is available here: <a href="{{https://drive.google.com/file/d/146HNrsFKmXHE3GFcN4-gMPTCiuq2c2vq/view?usp=sharing}}">here</a>.
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ jeongsg7270@gmail.com }}"><i class="Gmail"></i></a>
                </span>
                <!-- <span class="hint--bottom bottom-link" aria-label="PGP Key">
                    <a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc"><i class="head-icon fas fa-key"></i></a>
                </span> -->
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/seogyeongjeong"><i class="Github"></i></a>
                <!-- </span>
                <span class="hint--bottom bottom-link" aria-label="Web Blog">
                    <a href="{{ site.blog_url }}"><i class="head-icon fas fa-rss"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Keybase">
                    <a href="https://keybase.io/{{ site.keybase_username }}"><i class="head-icon fab fa-keybase"></i></a>
                </span> -->
                <!-- <span class="hint--bottom bottom-link" aria-label="Reddit">
                    <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-reddit"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="head-icon fab fa-twitter"></i></a>
                </span> -->
            </div>
        </div>
    </section>
</div>